<div class="footer">
    <div class="contain">
        <div class="center">
            <div class="col" style="margin-left: 32px;">
                <h1>App Capteurs</h1>
                <ul>
                    <li><img class="img" src="../../assets/img/capteur.svg"></li>
                </ul>
            </div>
            <div class="col">
                <h1>Version 1.0 </h1>
                <ul>
                    <li><img class="img" src="../../assets/img/versioning.png"></li>
                </ul>
            </div>
            <div class="col">
                <h1>Yannis Kecir</h1>
                <ul>
                    <li><img class="img" src="../../assets/img/laptop-coding.png"></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>